
input {
    width: 95%;
    padding: 0.3em;
    font-size: 0.8em;
}

table {
    width: 100%;
}

.buttonSvg {
    width: 1em;
    height: 1em;
    padding: 0.3em;
    border-radius: 0.2em;
    transition: 0.25s;
}
.buttonSvg:hover {
    background: #ccc;
}

.controlPanel {
    width: 100%;
    box-sizing: border-box;
    padding: 0.5em;
}
.controlPanel button {
    padding: 0.5em;
    margin: 0.5em;
}

.deleteRow {
    width: 100%;
}

.noNamesDiv {
    padding: 1em;
    font-style: italic;
    color: #333;
    text-align: center;
}

.statusDiv {
    padding: 0.5em;
    margin-top: 0.5em;
    margin-bottom: 0.5em;
    border-radius: 3px;
    transition: 0.3s;
}

.flash {
    color: #fff;
    background-color: #fff !important;
}

.tableDiv {
    padding-top: 1em;
}

#addNameButton {
    width: 100%;
}