/* You can add global styles to this file, and also import other style files */
@font-face {
  font-family: 'Roboto';
  src: url('assets/fonts/Roboto/static/Roboto-Light.woff2') format('woff2');
  font-weight: 400;
  font-style: normal;
}

body {
  font-family: "Roboto";
  box-sizing: border-box;
}

button {
  font-family: "Roboto";
}
